/* You can add global styles to this file, and also import other style files */
nz-layout {
  width: 100%;
  height: 100%;
}
* {
  margin: 0;
  padding: 0;
  border: 0;
}
html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
/*隐藏Credit*/
.cesium-viewer .cesium-widget-credits {
  display: none !important;
}
