/* You can add global styles to this file, and also import other style files */
app-main {
  width: 100%;
  height: 100%;
}
nz-layout {
  width: 100%;
  height: 100%;
}
@import '../node_modules/leaflet/dist/leaflet.css';
