<nz-layout>
  <!-- 侧边栏 -->
  <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed">
    <div class="logo">
    </div>
    <ul nz-menu [nzTheme]="'dark'" [nzMode]="isCollapsed?'vertical':'inline'">
      <li nz-submenu>
        <span title><i class="anticon anticon-team"></i><span class="nav-text">场景树</span></span>
        <ul>
          <qk-earth-layer-tree></qk-earth-layer-tree>
        </ul>
      </li>
      <li nz-submenu>
        <span title><i class="anticon anticon-setting"></i><span class="nav-text">场景设置</span></span>
        <ul>
          <qk-earth-scenesetting></qk-earth-scenesetting>
        </ul>
      </li>

      <li nz-submenu>
        <span title><i class="anticon anticon-heart"></i><span class="nav-text">关于</span></span>
        <ul>
          <li nz-menu-item><span><i class="anticon anticon-github"></i> <span class="nav-text"><a href="https://543802360.github.io/">my Github</a></span>            </span>
          </li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <!-- 嵌套nz-layout -->
  <nz-layout>
    <!-- 顶部布局 -->
    <!-- <nz-header style="background: #fff; padding:0;"></nz-header> -->
    <!-- 内容布局 -->
    <nz-content>
      <qk-earth-viewer></qk-earth-viewer>
    </nz-content>
    <!-- 底部布局 -->
    <!-- <nz-footer style="text-align: center;padding:0">ng-zorro-cesium By Bluce</nz-footer> -->
  </nz-layout>
</nz-layout>
